@{
    Layout = null;
}

@model List<EHospital.Appointments.WebApi.ViewModels.AppointmentView>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Appointment</h2>
        <p>Appointment Details</p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>UserId</th>
                    <th>PatientI</th>
                    <th>AppointmentDateTime</th>
                    <th>Duration</th>
                    <th>Purpose</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.UserId</td>
                        <td>@item.PatientId</td>
                        <td>@item.AppointmentDateTime</td>
                        <td>@item.Duration</td>
                        <td>@item.Purpose</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</body>
</html>