

@{
    ViewData["Title"] = "View";
}
@model EHospital.Appointments.WebApi.ViewModels.AppointmentForCreate

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <h2>Creating Appointment</h2>

    <h4>AppointmentForCreate</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="View">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <h1>Patient Id: </h1>
                    <h2>@Model.PatientId &nbsp</h2>
                    <hr/>
                </div>
                <div class="form-group">
                    <h1>User Id: </h1>
                    <h2>@Model.UserId &nbsp</h2>
                    <hr/>
                </div>
                <div class="form-group">
                    <h1>Appointment Date Time</h1>
                    <h2>@Model.AppointmentDateTime &nbsp</h2>
                    <hr/>
                </div>
                <div class="form-group">
                    <h1>Duration: </h1>
                    <h2>@Model.Duration &nbsp</h2>
                    <hr/>
                </div>
                <div class="form-group">
                    <h1>Purpose: </h1>
                    <h2>@Model.Purpose &nbsp</h2>
</div>

            </form>
        </div>
    </div>
</body>
</html>